*{
    padding: 0;
    margin:0;
}
body{
    margin:0;
    min-height:100vh;
    background-color: #0b1d51;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1800px;
    width:50%;
    background-color:#1e293b;
    margin-top: 10px;
    border-radius: 20px;
    color:white;
    padding: 25px;

}
.para{
    font-size: 20px;
    font-weight: 400;
    padding-left:5px ;
}
p1{
    font-size: 23px;
    font-weight: bold;
     padding-left:5px;
}
.option{
    display: block;
    padding-left: 12px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
}
.option:hover{
    background:#334155 ;
}
button{
    height: 35px;
    width: 90px;
    background-color:  #6A0DAD;
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 16px;
    font-weight: bold;
    justify-content: center ;
}
button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
h1{
color: yellow;
}
@media (min-width: 1024px) {
    #container {
        max-width: 500px; /* Desktop par container ko thoda breathing room diya */
        padding: 40px;
        height: 1700px;
    }

    h1 {
        font-size: 36px;
    }


    .para {
        font-size: 20px; /* Aapka original text size */
    }
      .option {
        font-size: 20px;
    }
}
@media(max-width:455px){
    #container{
        max-width: 100%;
        padding: 0 15px;
        height: 1700px;
    }
    p1{
        font-size: 16px;
    }

.para{
    font-size: 14px;
}
.option{
    font-size: 14px;
}

}

